<div class="jumbotron jumbotron-fluid jumbo-opacity">
  <div class="container">
    <h1 class="display-4">{{title}}</h1>
    <p class="lead">We deliver the food you need.</p>
    <a href="/login" class="btn btn-lg btn-primary" role="button">Login</a>
    <a href="/signup" class="btn btn-lg btn-primary" role="button">Signup</a>
  </div>
</div>
